<div class="container-fluid ">
    <div class="row justify-content-center ">
        Get in touch
    </div>
    <div class="row justify-content-center fs-1 fw-bold ">
        Contact Me
    </div>
    <div class="row mt-3 justify-content-center align-items-center ">
        <button class="email  rounded-pill p-2 btn btn-primary "> &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
              </svg> &nbsp;
              <a href="mailto:dddev965@gmail.com" class="text-white">dddev965&#64;gmail.com</a>

        </button>
    </div>
    <div class=" ">
        <div class="col-md-12 ">
            <ul>
                <li (click)="scrollTo('aboutme')" ><a  class="pe-auto">About</a></li>
                <li  (click)="scrollTo('experience')" class="pe-auto"><a >Experience</a></li>
                <li  (click)="scrollTo('project')"class="pe-auto"><a >Projects</a></li>
                <li (click)="scrollTo('contact')" class="pe-auto"><a >Contact</a></li>
            </ul>
        </div>
    </div>
</div>