<div class="container-fluid my-5">
    <div class="row ">
        <div class="col-12 d-flex flex-column lh-1 justify-content-center align-items-center">
            <p>Explore My</p>
            <p class="fs-3">Experience</p>
        </div>

    </div>
    <div class="row">
        <div
            class="col-12  d-flex flex-column  flex-lg-row flex-md-row justify-content-center align-items-center">
            <div class="card-div py-4 border m-sm-2 mx-lg-4 m-xs-2">
                <p class="fs-4 p-3 pb-1 text-center fw-bold">Frontend Development</p>
                <div class="container">
                    <div class="row">
                        <div class="col-6  px-4  my-2 d-flex  lh-sm ">
                            <div class="p-1"><span class=" material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column">
                                <p class=" m-0">ANGULAR </p>
                                <sub>Experienced</sub>
                            </div>
                        </div>

                        <div class="col-6  px-4    my-2 d-flex  lh-sm ">
                            <div class="p-1"><span class="material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column">
                                <p class=" m-0">HTML/SCSS </p>
                                <sub>Experienced</sub>
                            </div>

                        </div>

                        <div class="col-6  px-4   my-2 d-flex  lh-sm ">
                            <div class="p-1"><span class="material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column">
                                <p class=" m-0">JS/TS</p>
                                <sub>Good</sub>
                            </div>
                        </div>

                        <div class="col-6 px-4    my-2 d-flex  lh-sm ">
                            <div class="p-1 "><span class="material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column ">
                                <p class=" m-0">RXJS </p>
                                <sub>Experienced</sub>
                            </div>
                        </div>
                        <div class="col-6   px-4  my-2 d-flex  lh-sm ">
                            <div class="p-1 "><span class="material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column">
                                <p class=" m-0">NGRX </p>
                                <sub>Basic</sub>
                            </div>
                        </div>
                        <div class="col-6 px-4  my-2 d-flex  lh-sm ">
                            <div class="p-1 "><span class="material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column">
                                <p class=" m-0 ">BOOTSTRAP </p>
                                <sub>Experienced</sub>
                            </div>
                        </div>
                       
                        
                    </div>

                </div>
            </div>
            <!-- backend -->
            <div class="card-div py-5 border m-sm-2 mx-lg-4 m-xs-2">
                <p class="fs-4  pb-1 text-center fw-bold">Backend Development</p>
                <div class="container">
                    <div class="row">
                        <div class="col-6  px-4  my-2 d-flex  lh-sm ">
                            <div class="p-1"><span class=" material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column">
                                <p class=" m-0">NodeJs </p>
                                <sub>Basic</sub>
                            </div>
                        </div>

                        <div class="col-6  px-4    my-2 d-flex  lh-sm ">
                            <div class="p-1"><span class="material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column">
                                <p class=" m-0">MongoDB </p>
                                <sub>basic</sub>
                            </div>

                        </div>

                        <div class="col-6  px-4   my-2 d-flex  lh-sm ">
                            <div class="p-1"><span class="material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column">
                                <p class=" m-0">ExpressJs</p>
                                <sub>Basic</sub>
                            </div>
                        </div>

                        <div class="col-6 px-4    my-2 d-flex  lh-sm ">
                            <div class="p-1 "><span class="material-symbols-outlined">
                                    new_releases
                                </span></div>
                            <div class="px-2 d-flex flex-column ">
                                <p class=" m-0">Postman </p>
                                <sub>Basic</sub>
                            </div>
                        </div>
                        
                       
                       
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>