<div class="container-fluid my-5">
    <div class="row ">
        <div class="col-12 d-flex flex-column lh-1 justify-content-center align-items-center">
            <p>Explore My</p>
            <p class="fs-3">Projects</p>
        </div>

    </div>
    <div class="row">
        <div class="col-12  d-flex flex-column  flex-lg-row flex-md-row justify-content-center align-items-center">
            <div class="card-div py-4 border m-sm-2 mx-lg-4 m-xs-2 flex-column d-flex justify-content-center">
                <!-- <p class="fs-4 p-3 pb-1 text-center fw-bold">The Gym Web</p> -->
                <img src="assets/logo.png" height="300px" alt="" srcset="">
               <div class="d-flex justify-content-around">
               <a href="https://github.com/dddev965/gymApp/tree/master/the_gym" target="_blank" class="btn btn-light rounded-pil btn-sm p-2 border">GitHub</a>
               <a href="https://thegym-devashish.netlify.app" target="_blank" class="btn btn-light border rounded-pil p-2  btn-sm">Live Demo</a>
               </div>
                
            </div>
         
        </div>
    </div>
</div>