<div class="container-fluid my-5 ">
    <div class="row d-flex align-items-center justify-content-center" style="padding: 100px 0px;">
        <div class="col-lg-6 d-flex justify-content-lg-end col-md-12 justify-content-center ">
            <div class="imgDiv rounded-circle ">

                <img src="../../assets/dev.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-6   d-flex justify-content-lg-start  col-md-12 justify-content-center ">
            <div class="mt-5 ms-4 d-flex flex-column lh-1 text-center justify-content-center">
                <p>Hello, I'm </p>
                <p class="fs-1 fw-bold">Devashish</p>
                <p class="fs-4 fw-lighter">Frontend Developer</p>
                <div class="d-flex btn-div flex-wrap justify-content-center  justify-content-around">
                    <button class="btn btn-sm border btn-light rounded-pill m-1"><i
                            class="fa-solid fa-download p-1"></i><a href="../../assets/Resume.pdf" download="true">Download
                            CV</a></button>
                    <button class="btn btn-sm border btn-light rounded-pill m-1" (click)="scrollToContact()"><i
                            class="fa-solid fa-envelope p-1"></i><a  >Contact</a></button>
                </div>

                <div class="d-flex link-div flex-wrap  justify-content-center  ">
                    <a href="https://github.com/" class="p-2" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com" class="p-2" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>


            </div>
        </div>
    </div>
</div>